ul {
    text-align: center;
    font-size: 15px;
    padding-inline-start: 0px;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px;
    
}
.contenedor-img{
    border-radius: 5px;
}