ul {
    text-align: center;
    font-size: 15px;
    padding-inline-start: 0px;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
    
}

img{
    margin: 5px;
    border-radius: 2px;
}
 .bg-light{
    background-color: red;
 }