.App {
  text-align: center;
  color: white;
  font-size: 13px;
}

body{
  background-image: url(/public/img/fondo.jpg);
  align-items: center;
}


.App button{
  background-color: rgba(235, 44, 44, 0.733);
  border-radius: 6px;
  color: white;
  font-size: 12px;
  border-color: azure;
  margin-left: 5px;
}

.App form{
  width: 50%;
  background-color: rgba(168, 14, 14, 0.658);
  padding: 14px;
  margin: auto;
  margin-top: 25px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px  #000;
}

.App input{
  width: 90%;
  background: rgb(104, 9, 9);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid red;
  font-size: 18px;
  color: white;
}
.App input.button{
  width: 150px;
  background: rgb(205, 15, 15);
  border: 1px solid rgb(170, 170, 170);
  color: white;
  margin: 20px 0;
  font-size: 20px;
  border-radius:6px;
}


div.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

img.card-img-top{
  height: 130px;
  margin-top: 10px;

}
 a.btn.btn-primary{
  color: yellow;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:2%;
 }

 a.btn.btn-secondary{
  color: yellow;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:2%;
 }

 div.card{
  background-color: rgba(220, 20, 60, 0.301);
  margin: 5px;
  width: 200px;
  height: 270px;

 }

 div.card-title.h5{
  margin: 5px;
 }

