@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


*{
    font-family: "Montserrat";
}

header{
    align-items: center;
    color: white;
    text-align: center;
}

header h1{
    color: red;
    text-align: center;
}


