nav ul{
    text-align: center;
    font-weight:bold;
    display:contents
    
}

nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
    color:white;
    text-decoration: none;
    font-size: 20px;

}
nav p{
    color: white;
    font-size: 15px;
}